        <!-- Tpm Blog and news Area Start -->
        <section class="blog-and-news-are tmp-section-gapTop" id="blog">
            <div class="container">
                <div class="section-head mb--40">
                    <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">Blog and News</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Elevating Personal
                        Branding the <br> through Powerful Portfolios</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <div class="img-box">
                                <a href="#blog">
                                    <img class="img-primary hidden-on-mobile" src="assets/images/blog/blog-img-4.jpg" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="assets/images/blog/blog-img-4.jpg" alt="BLog Thumbnail">
                                </a>
                                <ul class="blog-tags">
                                    <li><span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah</li>
                                    <li><span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10</li>
                                </ul>
                            </div>
                            <div class="blog-content-wrap">
                                <h3 class="blog-title v2"><a class="link" href="#blog">Let’s bring your ideas to life! Contact me, and let’s</a></h3>
                                <a href="#blog" class="read-more-btn v2">Read More <span
                    class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <div class="img-box">
                                <a href="#blog">
                                    <img class="img-primary hidden-on-mobile" src="assets/images/blog/blog-img-5.jpg" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="assets/images/blog/blog-img-5.jpg" alt="BLog Thumbnail">
                                </a>
                                <ul class="blog-tags">
                                    <li><span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah</li>
                                    <li><span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10</li>
                                </ul>
                            </div>
                            <div class="blog-content-wrap">
                                <h3 class="blog-title v2"><a class="link" href="#blog">Inspiring the World, One Project at a
                                        Time for the
                                        man</a></h3>
                                <a href="#blog" class="read-more-btn v2">Read More <span
                    class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <div class="img-box">
                                <a href="#blog">
                                    <img class="img-primary hidden-on-mobile" src="assets/images/blog/blog-img-6.jpg" alt="Blog Thumbnail">
                                    <img class="img-secondary" src="assets/images/blog/blog-img-6.jpg" alt="BLog Thumbnail">
                                </a>
                                <ul class="blog-tags">
                                    <li><span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah</li>
                                    <li><span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10</li>
                                </ul>
                            </div>
                            <div class="blog-content-wrap">
                                <h3 class="blog-title v2"><a class="link" href="#blog">Each one showcases my approach and dedication man</a></h3>
                                <a href="#blog" class="read-more-btn v2">Read More <span
                    class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tpm Blog and news Area End -->
