<div class="tmp-responsive-header-style d-block d-xl-none header--sticky">
    <div class="row align-items-center">
        <div class="col-6">
            <div class="logo">
                <a href="../index.html">
                    <img src="../assets/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="header-right text-end">
                <div class="tmp-side-collups-area d-flex justify-content-end">
                    <button class="tmp-menu-bars humberger_menu_active"><i class="fa-regular fa-bars-staggered"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
