<div class="tmp-popup-mobile-menu">
    <div class="inner">
        <div class="header-top">
            <div class="logo">
                <a href="../index.html" class="logo-area">
                    <img class="logo-dark" src="../assets/images/logo/white-logo-reeni.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                    <img class="logo-white" src="../assets/images/logo/logo-white.png" alt="Reeni - Personal Portfolio HTML Template for developers and freelancers">
                </a>

            </div>
            <div class="close-menu">
                <button class="close-button tmp-round-action-btn">
                    <i class="fa-sharp fa-light fa-xmark"></i>
                </button>
            </div>
        </div>
        <ul class="tmp-mainmenu onepagenav-click">
            <li><a class="smoth-animation" href="#home">Home</a></li>
            <li><a class="smoth-animation" href="#features">Features</a></li>
            <li><a class="smoth-animation" href="#portfolio">Portfolio</a></li>
            <li><a class="smoth-animation" href="#resume">Resume</a></li>
            <li><a class="smoth-animation" href="#clients">Clients</a></li>
            <li><a class="smoth-animation" href="#pricing">Pricing</a></li>
            <li><a class="smoth-animation" href="#blog">blog</a></li>
            <li><a class="smoth-animation" href="#contacts">Contact</a></li>
        </ul>

        <div class="social-share-style-1 mt--40">
            <span class="title">find with me</span>
            <div class="social-link">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
        </div>

    </div>
</div>
