        <!-- Tpm Latest Portfolio Area Start -->
        <div class="latest-portfolio-area custom-column-grid tmp-section-gapTop" id="portfolio">
            <div class="container">
                <div class="section-head mb--60">
                    <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">Latest Portfolio</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Transforming Ideas
                        into
                        <br> Exceptional
                    </h2>
                    <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">Business
                        consulting
                        consultants provide expert advice and guida
                        businesses to help them improve their performance, efficiency, and organizational</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="#portfolio">
                                        <img class="w-100" src="../assets/images/latest-portfolio/portfoli-img-1.jpg" alt="Thumbnail">
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a class="link" href="#portfolio">Digital
                                            Transformation Advisors</a></h3>
                                    <p class="portfoli-card-para">Development Coaches</p>
                                </div>
                                <a href="#portfolio" class="tmp-arrow-icon-btn">
                                    <div class="btn-inner">
                                        <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                        <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="#portfolio">
                                        <img class="w-100" src="../assets/images/latest-portfolio/portfoli-img-2.jpg" alt="Thumbnail">
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a class="link" href="#portfolio">My work is driven by the belief that thoughtful.</a></h3>
                                    <p class="portfoli-card-para">Development App</p>
                                </div>
                                <a href="#portfolio" class="tmp-arrow-icon-btn">
                                    <div class="btn-inner">
                                        <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                        <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="#portfolio">
                                        <img class="w-100" src="../assets/images/latest-portfolio/portfoli-img-3.jpg" alt="Thumbnail">
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a class="link" href="#portfolio">In this portfolio, you’ll find a curated selection</a></h3>
                                    <p class="portfoli-card-para">Web Design</p>
                                </div>
                                <a href="#portfolio" class="tmp-arrow-icon-btn">
                                    <div class="btn-inner">
                                        <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                        <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-4">
                            <div class="portfoli-card-img">
                                <div class="img-box v2">
                                    <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1" href="#portfolio">
                                        <img class="w-100" src="../assets/images/latest-portfolio/portfoli-img-4.jpg" alt="Thumbnail">
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-card-content-wrap">
                                <div class="content-left">
                                    <h3 class="portfolio-card-title"><a class="link" href="#portfolio">I’ve had the privilege of working with various</a></h3>
                                    <p class="portfoli-card-para">App Development</p>
                                </div>
                                <a href="#portfolio" class="tmp-arrow-icon-btn">
                                    <div class="btn-inner">
                                        <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                                        <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tpm Latest Portfolio Area End -->
