        <!-- Tpm Education Experience Area Start -->
        <section class="education-experience tmp-section-gapTop" id="resume">
            <div class="container">
                <div class="section-head mb--50">
                    <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
                        <span class="subtitle">Education & Experience</span>
                    </div>
                    <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">Empowering
                        Creativity
                        <br> through
                    </h2>
                    <p class="description section-sm tmp-scroll-trigger tmp-fade-in animation-order-3">Business
                        consulting
                        consultants provide expert advice and guida
                        businesses to help them improve their performance, efficiency, and organizational</p>
                </div>
                <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Education <span><img
                                src="../assets/images/custom-line/custom-line.png" alt="custom-line"></span>
                </h2>
                <div class="row g-5">
                    <div class="col-lg-6 col-sm-6">
                        <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1">
                            <h4 class="edu-sub-title">Trainer Marketing</h4>
                            <h2 class="edu-title">2005-2009</h2>
                            <p class="edu-para">A personal portfolio is a curated collection of an individual's professional
                                work, showcasing their skills, experience A personal portfolio.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2">
                            <h4 class="edu-sub-title">Assistant Director</h4>
                            <h2 class="edu-title">2010-2014</h2>
                            <p class="edu-para">Each project here showcases my commitment to excellence and adaptability, tailored to meet each client’s unique needs.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3">
                            <h4 class="edu-sub-title">Design Assistant</h4>
                            <h2 class="edu-title">2008-2012</h2>
                            <p class="edu-para">I’ve had the privilege of working with various clients, from startups to established companies, helping bring their visions to life.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="education-experience-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4">
                            <h4 class="edu-sub-title">Design Assistant</h4>
                            <h2 class="edu-title">2008-2012</h2>
                            <p class="edu-para">Each project here showcases my commitment to excellence and adaptability, tailored to meet each client’s unique needs a personal.</p>
                        </div>
                    </div>
                </div>
                <div class="experiences-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="experiences-wrap-left-content">
                                <h2 class="custom-title mb-32 tmp-scroll-trigger tmp-fade-in animation-order-1">Experiences <span><img
                            src="../assets/images/custom-line/custom-line.png" alt="custom-line"></span></h2>

                                <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-1">
                                    <p class="ex-subtitle">experience</p>
                                    <h2 class="ex-name">Soft Tech (2 Years)</h2>
                                    <h3 class="ex-title">UI/UX Designer</h3>
                                    <p class="ex-para">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                        desi dolore eu fugiat nulla pariatu Duis aute irure.</p>
                                </div>
                                <div class="experience-content tmp-scroll-trigger tmp-fade-in animation-order-2">
                                    <p class="ex-subtitle">experience</p>
                                    <h2 class="ex-name">ModernTech (3 Years)</h2>
                                    <h3 class="ex-title">App Developer</h3>
                                    <p class="ex-para">In this portfolio, you’ll find a curated selection of projects that highlight my skills in [Main Areas, e.g., responsive web design.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="experiences-wrap-right-content">
                                <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="../assets/images/experiences/expert-img.jpg" alt="expert-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Tpm Education Experience Area End -->
